{% extends 'customer/base.html' %}

{% block content %}
<div class="aboutContainer container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1 class="containerHeading">About Us </h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p class="customParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec urna lectus, tempus ut egestas quis, vulputate ut lectus. Aenean nec facilisis purus. Aenean mollis tincidunt ligula nec varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sit amet consequat lectus, sit amet facilisis tellus. Vivamus accumsan gravida molestie. Sed cursus, quam a pulvinar elementum, libero nibh posuere nulla, vel aliquet nisl mauris non sapien. Vivamus ullamcorper lacus at nulla aliquet, id blandit neque condimentum. Etiam nunc mauris, facilisis sit amet facilisis euismod, mattis eget ante. Aenean sodales nisl semper, ornare justo et, fermentum mauris. Proin in pulvinar felis, non rhoncus quam.</p>
            <p class="customParagraph">Nam ex velit, posuere et augue sit amet, accumsan dapibus sem. Aenean pharetra vel elit eu laoreet. Sed eleifend lectus velit, at posuere risus mollis at. Praesent aliquam libero sed augue euismod, ut porttitor ipsum eleifend. Ut et metus id lectus venenatis lacinia. Duis tempor lobortis ligula nec rhoncus. In maximus lacinia posuere. Aenean tempor vehicula sem non auctor. Aliquam vitae quam metus. Aenean congue dui id aliquam feugiat. Morbi bibendum tellus eget dapibus bibendum. Nullam malesuada nisl vel lectus interdum auctor. Suspendisse potenti. Maecenas felis mi, auctor vitae eros nec, pharetra cursus sapien.</p>
            <p class="customParagraph">Duis porta luctus orci. In scelerisque nulla ligula, eget sagittis dui aliquam sed. Praesent quam risus, pellentesque vitae sem ac, porta ullamcorper lacus. Etiam nec lectus eu nunc mattis mattis. Nullam accumsan mauris vitae interdum mollis. Quisque enim lorem, pulvinar a vestibulum sit amet, lobortis vitae arcu. Vivamus luctus ipsum quis finibus pellentesque. Nunc accumsan maximus finibus. Proin auctor leo eleifend lacus lacinia, non posuere justo tincidunt. Mauris orci sapien, imperdiet id pretium at, fringilla et justo. Vivamus porta vitae enim quis mattis.</p>
        </div>
    </div>
</div>

{% endblock content %}